<!DOCTYPE html>
<html lang="en">
<head>
  <link rel = "icon" href = "https://pbs.twimg.com/profile_images/1120575992274178048/GdwaKQC7.png" type = "image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>KYC Auth</title>
        <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>

</head>
<body class="bg">
    <nav class="navbar navbar-expand-sm navbar-light bg-primary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-expanded="false">
<span  class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand ml-auto" style="color:white" href="/index.html"><img src="{{url_for('static', filename='kyc-logo.jpeg')}}" align="middle" width="75px"></a>
        <div class="collapse navbar-collapse" id="Navbar" >
            <ul class="navbar-nav mr-auto" >
                <li class="nav-item active" ><a class="nav-link" style="color:white" href="/">Home</a></li>
                <li class="nav-item" ><a class="nav-link" style="color:white" href="/aboutus.html">About us</a></li>
                <li class="nav-item" ><a class="nav-link" style="color:white" href="/contactus.html">Contact us</a></li>
            </ul>
        </div>
        </div>

      </nav>
    <header class="jumbotron"
  style="background-color: rgb(224, 214, 66);">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h1 style="background-color: rgba(0, 0, 0, 0); color:white"class="title1">About us Page</h1>
                </div>
                <div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="about-section">

            <p>Some text about who we are and what we do.</p>

          </div>

          <h2 style="text-align:center">Our Team</h2>
          <div class="row">
            <div class="column col-6">
              <div class="card">

                <div class="container">
                  <h2>Tejas Adhikari</h2>
                  <p class="title">Frontend, Backend</p>

                </div>
              </div>
            </div>
            <div class="column col-6">
              <div class="card">
                <div class="container">
                  <h2>Pranav Sawant</h2>
                  <p class="title">Frontend</p>

                </div>
              </div>
            </div>

            <div class="column col-6">
              <div class="card">
                <div class="container">
                  <h2>Abhishek Doshi</h2>
                  <p class="title">ML/AI</p>


                </div>
              </div>
            </div>


            <div class="column col-6">
                <div class="card">

                  <div class="container">
                    <h2>Sourasish Roy</h2>
                    <p class="title">Frontend</p>

                  </div>
                </div>
              </div>
          </div>
    </div>
<br>
<br>
<br>

    <footer >
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-auto">


                        <a href="/">Home |</a>
                        <a href="/aboutus.html"> About us |</a>
                        <a href="/contactus"> Contact</a>

                </div>


           </div>
           <div>
                <div class="row justify-content-center">
                    <p style="color:white">© Copyright 2021</p>
                </div>
           </div>
        </div>
    </footer>

    <script src="node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="app.js"></script></body>
</html>
