<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel = "icon" href = "https://pbs.twimg.com/profile_images/1120575992274178048/GdwaKQC7.png" type = "image/x-icon">

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="content">
      <img src="{{url_for('static', filename='green-tick.jpg')}}" align="middle" width="75px">
      <h1 margin = "auto" color="Green">Verified</h1>
    </div>

    <style>
    .content {
      max-width: 500px;
      margin: auto;
      text-align: center;
      color: green;
    }
    </style>
  </body>
</html>
