<!DOCTYPE html>
<html lang="en">
<head>
  <link rel = "icon" href = "https://pbs.twimg.com/profile_images/1120575992274178048/GdwaKQC7.png" type = "image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>KYC Auth</title>
        <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>
</head>
<body class="bg">
    <nav class="navbar navbar-expand-sm navbar-light bg-primary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-expanded="false">
            <span  class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand ml-auto" style="color:white" href="#"><img src="{{url_for('static', filename='kyc-logo.jpeg')}}" align="middle" width="75px"></a>
        <div class="collapse navbar-collapse" id="Navbar" >
            <ul class="navbar-nav mr-auto" >
                <li class="nav-item active" ><a class="nav-link" style="color:white" href="#">Home</a></li>
                <li class="nav-item" ><a class="nav-link" style="color:white" href="/aboutUs">About us</a></li>
                <li class="nav-item" ><a class="nav-link" style="color:white" href="#">Contact us</a></li>
            </ul>
        </div>
        </div>

      </nav>
    <header class="jumbotron" style="background-color: rgb(224, 214, 66);">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6">
                    <h1 style="background-color: rgba(0, 0, 0, 0); color:white"class="title1">KYC authentication</h1>
                    <p style="background-color: rgba(0, 0, 0, .0); color:white">We verify your documents with advanced A.I techniques!</p>
                </div>
                <div>
                </div>
            </div>
        </div>
    </header>
    <br>

    <div class="container">
      <form class="container" id="upload-form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="firstname" class="col-md-2 col-form-label">Upload Live Video</label>
            <div class="col-md-10">
              <a href="/video" class="btn btn-primary">Start Recording</a>
            </div>
        </div>
          <div class="form-group row">
              <label for="firstname" class="col-md-2 col-form-label">First Name</label>
              <div class="col-md-10">
                  <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First Name">
              </div>
          </div>
          <div class="form-group row">
              <label for="lastname" class="col-md-2 col-form-label">Last Name</label>
              <div class="col-md-10">
                  <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Last Name">
              </div>
          </div>
          <div class="form-group row">
              <label for="telnum" class="col-12 col-md-2 col-form-label">Contact Tel.</label>
              <div class="col-5 col-md-3">
                  <input type="tel" class="form-control" id="areacode" name="areacode" placeholder="Area code">
              </div>
              <div class="col-7 col-md-7">
                  <input type="tel" class="form-control" id="telnum" name="telnum" placeholder="Tel. number">
              </div>
          </div>
          <div class="form-group row">
              <label for="emailid" class="col-md-2 col-form-label">Email</label>
              <div class="col-md-10">
                  <input type="email" class="form-control" id="emailid" name="emailid" placeholder="Email">
              </div>
          </div>
          <div class="form-group row">
              <label for="aadhaar number" class="col-md-2 col-form-label">Aadhar Number</label>
              <div class="col-md-10">
                  <input type="number" class="form-control" id="emailid" name="emailid" placeholder="Aadhar Number">
              </div>
          </div>
          <div class="form-group row">
              <label for="Aadhaar Card" class="col-md-2 col-form-label">Aadhar Card</label>
              <div class="col-md-10">
                <input type="file" name="file" accept="image/*" multiple>
              </div>
          </div>
          <div class="form-group row">
              <div class="offset-md-2 col-md-10">
                  <button type="submit" class="btn btn-primary">Submit</button>
              </div>
          </div>
        </form>
        <br>
        <br>
        <br>
        <br>
        <div class="row box">
            <div class="col-12 col-sm-4 col-md-3">
                <h2 class="headline">Our Services</h2>
            </div>
            <div class="col col-sm col-md">
                <h2 class="headline">Convinient</h2>
                <p class="desc">All your KYC verification done in simple steps</div>
        </div>

      <br>
      <br>
      <br>
      <br>

    </div>


        <footer >
            <div class="container">
                <div class="row justify-content-center">


                    <div class="col-12">

               </div>
               <div>
                    <div class="row justify-content-center">
                        <p style="color:white">© Copyright 2021</p>
                    </div>
               </div>
            </div>
        </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <script src="app.js"></script>
  </body>
</html>
